<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Boi</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Play bOi </h1>

        <div style="display: block;">
            <a href="/login">Login to be PlaybOi</a>
            <a href="/register">Wanna become PlaybOi</a>
        </div>
    </div>
</body>
</html>