<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login.css" />
    <title>Login Form</title>
</head>

<body>

    <div class="login-box">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="user-box">
            <input type="text" name="name" placeholder="PlayBoiName">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="email" name="email" placeholder="palyboi99@gmail.com">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" placeholder="***********">
            <label>Password</label>
          </div>
          <a type="sumbit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" id="subbtn" value="L O G I N">
          </a>
          <a href="/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            MAke Account
          </a>
        </form>
        
      </div>

     

    
</body>

</html>